{{#with (array
      (array 'service:' 'Service.Service == "%s"')
      (array 'status:' 'Checks.Status == "%s"')
      (array 'tags:' '"%s" IN Service.Tags')
      (array 'tag:' '"%s" IN Service.Tags')
      (array '' 'Service.Service == "%s"')
  ) as |filtermap|}}

  {{data-source src=(concat '/' dc '/service/' slug) filter=(or filter (to-filter s map=filtermap)) onchange=(action (mut items) value='data')}}

  {{#app-view class="service list" loading=(is-undefined items)}}
      {{#block-slot 'notification' as |status type|}}
        {{partial 'dc/services/notifications'}}
      {{/block-slot}}
      {{#block-slot 'header'}}
          <h1>
              Services <em>{{format-number items.length}} total</em>
          </h1>
          <label for="toolbar-toggle"></label>
      {{/block-slot}}
      {{#block-slot 'toolbar'}}
        {{#search-bar
          filtermap=filtermap
          placeholder=(hash
            simple='service:name tag:name status:critical search-term'
            advanced='Service.Service == "consul" and Checks.Status == "passing"'
          )
          value=s
          onchange=(queue (action (mut filter) value='target.data') (action (mut s) value='target.value'))
        }}
          {{#block-slot 'simple-note'}}
            Search by any string, or filter by a specific selector such as: <span>service:web</span> or <span>tag:production</span>
          {{/block-slot}}
          {{#block-slot 'advanced-note'}}
            Combine one or more filter expressions like: <code>Service.Service == "web" and (Service.Tags is not empty or Checks.Status != "passing")</code>&nbsp;<a data-test-footer-docs href="{{env 'CONSUL_API_URL'}}/features/filtering.html#expression-syntax" rel="help noopener noreferrer" target="_blank">Syntax Documentation</a>
          {{/block-slot}}
        {{/search-bar}}
      {{/block-slot}}
      {{#block-slot 'content'}}
        {{#if (lt items.length 1)}}
          <p>
            There are no services{{if s ' matching that search' ''}}.
          </p>
        {{else}}
          {{#consul-service-list items=items}}
            {{#block-slot 'data'}}{{/block-slot}}
          {{/consul-service-list}}
        {{/if}}
    {{/block-slot}}
  {{/app-view}}

{{/with}}

